<div class="container color-dark">
  <h1 class="product-category">Pizza</h1>
  <ul>
    <li *ngFor="let pizza of pizzas">
      cena : {{ pizza.price }} zł
      rozmiar : {{ pizza.productInfo.size }}
      ciasto : {{ pizza.productInfo.dough }}
      <button (click)="addToBasket(pizza.id)">Dodaj do koszyka</button>
    </li>
  </ul>
</div>

<div class="container color-dark">
  <h1 class="product-category">Kebab</h1>
<ul>
  <li *ngFor="let kebab of kebabs">
    cena: {{ kebab.price }}
    opis: {{ kebab.productInfo.description }}
    nazwa: {{ kebab.productInfo.name }}
    <button (click)="addToBasket(kebab.id)">Dodaj do koszyka</button>
  </li>
</ul>
</div>

<div class="container color-dark">
<h1 class="product-category">Dodatki</h1>
<ul>
  <li *ngFor="let pizzaTopping of pizzaToppings">
    cena: {{ pizzaTopping.price }}
    nazwa: {{ pizzaTopping.productInfo.name }}
    <button (click)="addToBasket(pizzaTopping.id)">Dodaj do koszyka</button>
  </li>
</ul>
</div>
