@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

body {
  padding: 1em;
}

.color-dark {
  background: #2885C4;
}

.product-category {
  color: dimgray;
  font-size: 300%;
}

.shop-name{
  text-align: center;
  color: darkgrey;
  font-size: 300%;
}
